@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Hero Section CSS */
.hero-heading-3{
    font-family: 'Montserrat', sans-serif;
}
.social-handel img{
    width: 18px;
    height: 18px;
}

/* Services Section CSS */
.interior-services{
    background-color: #faedcd;
}
.services-heading{
    color: #e76f51;
    font-family: 'Poppins', sans-serif;
}
.services-content{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}

/* About Section CSS */
.hero-heading-5{
    color: #e76f51;
    font-family: 'Poppins', sans-serif;
}
.wim-content .hero-heading-5{
    color: #e76f51;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
.my-work-content{
    font-size: 18px;
}
.why-me-content{
    font-size: 18px;
}